.header{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 4rem auto;
    width: 95%;
    max-width: 150rem;
    margin: 0 auto;
    gap: 1rem;
}

.header-left h3{
    display: none;
}

.header-left button img{
    width: 1.5rem;
}

.header-searchbar{
    flex: 1;
    max-width: 70rem;
    position: relative;
    border: 1px solid var(--black-lighter-01);
    border-radius: .4rem;
    background-color: var(--black-01);
    display: flex;
    align-items: center;
    padding:0rem .8rem;
    
    justify-content: space-between;
    gap: 1rem;
}

.header-searchbar input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    height: 100%;
}

.header-right{
    grid-column: 2/2;
    justify-self: center;
}

.header-right .header-tabs{
    display: flex;
    gap: 1rem;
    border-radius: 1.2rem;
    background-color: var(--black-02);
    padding: .4rem;
    border: 1px solid var(--black-lighter-03);
}

.header-right button{
    background-color: var(--black-01);
    border: 1px solid var(--black-lighter-01);
    padding: 1.2rem 2rem;
    color: var(--text-color);
    border-radius: 1rem;
}

.header-tabs button.inactive{
    border: none;
    background-color: transparent;
    opacity: .6;
}

@media screen and (min-width: 600px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
    }

    .header-searchbar{
        border-radius: .4rem;
    }

    .header-left{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .header-left h3{
        display: block;
        font-size: 1.8rem;
    }

    .header-searchbar{
        min-height: 100%;
    }
}