.overlay-bg{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.484);
    backdrop-filter: blur(2px);
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    padding: 2rem 0 1rem 0;
} 

.sidebar-overlay aside{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    margin: auto;
    max-width: 40rem;
}

aside .sidebar-contents{
    flex: 1;
    /* background-image:url("./assets/grain-bg.png"); */
    background-color: var(--black-01);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 0 0 1rem 0;
}

.sidebar-contents .sidebar-image-and-heading{
    margin: 0 0 2rem 0;
}

aside .sidebar-image-container{
    height: 30rem;
    position: relative;
}

.sidebar-image-container img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-image-container::before{
    content: "";
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(180deg, rgba(26, 26, 26, 0.00) -3.73%, rgba(26, 26, 26, 0.593) 16.93%, rgba(26, 26, 26, 0.88) 36.49%, #1A1A1A 64.92%);
    position: absolute;
    bottom: 0;
}

.sidebar-heading-top{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90%;
    margin:-3rem auto 0rem;
    position: relative;
}

.sidebar-heading-top .left{
    display: flex;
    align-items: end;
    gap: .8rem;
}

.sidebar-heading-top .left button{
    display: flex;
}

.sidebar-heading-top .left h1{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.8ex;
    color: var(--text-color);
}

.sidebar-contents .h-divider{
    width: 100%;
    height: 1px;
    margin: 1.5rem auto;
    background-image: url("./assets/h-divider.svg");
    background-size: contain;
    background-position: center;
}

.sidebar-heading-bottom{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 55%;
    height: 3rem;
    margin-left: 5%;
}

.sidebar-heading-bottom .flag-icon{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar-contents .v-divider{
    width: 1px;
    min-height: 60%;
    margin: 1rem auto;
    background-image: url("./assets/v-divider.svg");
    background-size: contain;
    background-position: center;
}

.sidebar-heading-bottom .chip{
    background-image: var(--black-gradient-01);
    border: 1px solid var(--black-lighter-01);
    padding: .2rem 1rem;
    border-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-cormorant-sc);
}

.sidebar-contents .other-sidebar-content{
    width: 90%;
    margin: auto;
}

.other-sidebar-content .meaning{
    margin: 0 0 2rem 0;
}

.other-sidebar-content .meaning h4{
    font-size: 1.2rem;
    margin: 0 0 .2rem 0;
    font-family: var(--font-cormorant-infant);
}

.other-sidebar-content .meaning p{
    font-size: 1.4rem;
    font-family: var(--font-cormorant-infant);
}

.other-sidebar-content .sidebar-insights{
    display: flex;
    gap: .5rem;
    align-items: stretch;
    justify-content: stretch;
    background-image: var(--blue-gradient);
    margin: 0 0 2rem 0;
}

.sidebar-insights .insight-long{
    width: 2rem;
    background-color: white;
}

.sidebar-insights .insight-text{
    padding: .5rem 0;
}

.insight-text p{
   font-family: var(--font-cormorant-infant);
   font-size: 1.4rem;
   letter-spacing: .2px;
   color: #fff;
   line-height: 1.5;
   font-weight: 100;
}

.sidebar-language-history h2, 
.sidebar-sources h2,
.sidebar-share h2
{
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    font-family: var(--font-cormorant-infant);
}

.sidebar-language-history .sidebar-timeline{
    display: flex;
    align-items: stretch;
    gap: .8rem;
}

.sidebar-timeline .timeline-dates{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timeline-dates p{
    height: 6.3rem;
}


.sidebar-timeline .line-with-dots{
    width: .2rem;
    background-image:linear-gradient(#000000 50%, #1a1a1a, #ffd7a3);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem;
}

.timeline-card::before{
    content: "";
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: var(--black-lighter-02);
    border: 1.2px solid var(--black-01);
    position: absolute;
    top: -.1rem;
    left: -1.3rem;
}

.timeline-card:last-of-type::before{
   background-color: #ffd7a3;
   border: 1.2px solid white;
}

.sidebar-timeline .timeline-cards-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timeline-cards-container .timeline-card{
    position: relative;
    border: 1px solid var(--black-01);
    height: 6rem;
    width: 12rem;
    background-image: var(--black-gradient-02);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

.timeline-card h5{
    font-size: 1.4rem;
}

.timeline-card p{
    font-size: 1.2rem;
    font-weight: 100;
}

.sidebar-sources ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.sidebar-sources ul li{
    list-style-type: none;
}

.sidebar-sources ul li a{
    color: var(--off-white);
    font-size: 1.2rem;
}

.sidebar-share .share-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.share-links button{
    background-image: var(--black-gradient-02);
    border: 1px solid var(--black-01);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-links .copy{
    width: fit-content;
    border-radius: .8rem;
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: var(--font-cormorant);
    color: #fff;
}

@media screen and (min-width : 600px) {
    .sidebar-overlay aside{
        margin-right: 2rem;
    }
}