.saved-words .saved-words-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.saved-words-header h2{
    font-size: 2.4rem;
    font-family: var(--font-cormorant-infant);
}

.saved-words .single-saved-words-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}