.error-saved-words{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-saved-words-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border:1px solid var(--black-lighter-01);
    padding:3rem 1rem 1rem;
    background-color: var(--dark-red);
    border-radius: 1rem;
}

.error-saved-words-content h2{
   font-family: var(--font-cormorant-infant);
}

.error-saved-words-content p{
    font-size: 1.4rem;
    text-align: center;
    font-family: var(--font-cormorant-infant);
    color: var(--off-white);
    font-weight: 100;
}

.error-saved-words button{
    width: 100%;
    height: 4rem;
    color: #fff;
    background-image: var(--black-gradient-01);
    border: 1px solid var(--black-lighter-01);
    border-radius: .5rem;
}