.single-saved-word{
    background-image: var(--black-gradient-02);
    border: 1px solid var(--black-lighter-01);
    padding: .8rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #fff;
    transition: all 0.3s ease;
}
                            
.single-saved-word .single-saved-word-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-saved-word-top h3{
    font-size: 1.6rem;
}

.single-saved-word .single-saved-word-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40%;
}

.single-saved-word-bottom > img{
    width: 2rem;
    height: 2rem;
}

.single-saved-word-bottom span{
    font-size: 1.2rem;
    font-family: var(--font-cormorant-infant);
}

.single-saved-word:hover{
    background-color: #ffffff03;
    backdrop-filter: blur(20px);
    transform: translateY(-2px);
}

.single-saved-word-top button:hover{
    animation: 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards swing;
}

@keyframes swing {
    0%{
        transform: none;
    }
    50%{
       transform: translateX(-5px) rotate(-30deg);
    }

    80%{
        transform: translateX(5px) rotate(30deg);
    }

    100%{
        transform: none;
    }
}