.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.484);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.menu-overlay .menu-content{
    height: 100%;
    width: 100%;
    max-width: 30rem;
    background-image: var(--glow-gradient);
    padding: 2rem 1rem;
}

.menu-content .menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header h2{
    font-size: 2.4rem;
    font-weight: 600;
}

.menu-content .h-divider{
     width: 100%;
    height: 1px;
    margin: 1.5rem auto;
    background-image: url("./assets/h-divider.svg");
    background-size: contain;
    background-position: center;   
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}

.menu-items-container .menu-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--off-white);
    border-radius: .5rem;
    transition: all 0.3s ease;
}

.menu-item:hover{
    background-color: #ffffff03;
    backdrop-filter: blur(20px);
    transform: translateY(-5px);
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.141); */
}