.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.484);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.menu-overlay .menu-content{
    height: 100%;
    width: 100%;
    max-width: 35rem;
    background-image: var(--glow-gradient);
    overflow: hidden;
    animation: slide-in .5s forwards;
    transform: translateX(-100%);
}

/* Sliding animation container */
.menu-content .menu-inner {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.menu-inner.show-saved {
    transform: translateX(-50%);
}

.menu-main,
.menu-saved {
    width: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.menu-saved {
    overflow-y: auto;
}

.menu-content::-webkit-scrollbar {
  width: 6px;
}

.menu-content::-webkit-scrollbar-track {
  background: var(--black-01);        /* color of the tracking area */
  border-left: 1px solid #47474759;
}

.menu-content::-webkit-scrollbar-thumb {
  background-color: var(--black-lighter-01);
  border-radius: 4px;
}

.menu-content .menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header h2{
    font-size: 2.4rem;
    font-weight: 600;
}

.menu-content .h-divider{
     width: 100%;
    height: 1px;
    margin: 1.5rem auto;
    background-image: url("./assets/h-divider.svg");
    background-size: contain;
    background-position: center;   
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
}

.menu-items-container .menu-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--off-white);
    border-radius: .5rem;
    transition: all 0.3s ease;
}

.menu-item:hover{
    background-color: #ffffff03;
    backdrop-filter: blur(20px);
    transform: translateY(-5px);
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.141); */
}

@keyframes slide-in {
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.menu-overlay .menu-content.slide-out {
    animation: slide-out .5s forwards;
}

/* Fade out overlay when closing */
.menu-overlay.closing {
    animation: fade-out .5s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}